<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
            Project
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'project.css' %}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><span style="color: red">P</span>RAJU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="start">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects">Projects</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
        <div class="nav-item" style="margin-right: 10px; display: flex; flex-direction: row; gap: 5px; align-items: center;">
            {% if request.user.is_authenticated %}
                <p style="margin-top: 15px; color: aliceblue;"> <span style="color: red;">{{ request.user.username }},</span> You are Welcome!</p>
            {% endif %}
        <div class="nav-item" style="margin-left: 5px;">
          <a href="{% url 'logout' %}" style="text-decoration: none;"><button style="background-color: red; color: azure; border: none;">LOGOUT</button></a>
        </div>
      </div>
    </nav>
    <div class="pro_heading"><h1>MY <span style="color: red;">PROJECTS</span></h1></div>
    <div class="pro_top" style="border: none;">
        {% for i  in read %}
        <div class="space" style="background-color: #343a40;">
            <div class="title">
                <h2 style="color: white;">Project {{i.id}}</h2>
                <h6 style="color: black;">{{i.title}}</h6>
                <p style="font-size:12px; color: aliceblue;">{{i.abstract}}</p>
                <p style="font-size: x-small; font-weight: bold; color: black; display: inline-block;">Skills Used: {{i.skills}}</p>
                <p style="font-size:12px; color: aliceblue; display: inline-block;"><button style="background-color: orange;"><a href="deleteproject/{{i.id}}" style="color: aliceblue;">DELETE</a></button></p>
                <p style="font-size:12px; color: aliceblue; display: inline-block;"><button style="background-color: orange;"><a href="update/{{i.id}}" style="color: aliceblue;">EDIT</a></button></p>
            </div>
            <div class="image" style="border: none;">
                <img src="{{i.pphoto}}" height="250px" width="400">
            </div>
        </div>
        {% endfor %}
        <a href="{% url 'pinsert' %}" style="text-decoration: none;"><button style="background-color: red; color: azure; border: none; margin-top: 10px; margin-left: 320px;">ADD PROJECT</button></a>
    </div>

    </body>
</html>